setuptools==40.8.0
requests==2.22.0
six==1.12.0
cryptography==2.5.0
urllib3==1.25.3
ansible==2.10.0
pyOpenSSL==19.0.0
apache-libcloud==2.6.0
python-openstackclient==4.0.0
python-novaclient==16.0.0
python-neutronclient==6.14.0
boto==2.49.0
boto3==1.9.128
botocore==1.12.205
certifi==2019.11.28
pyasn1==0.4.6
ConfigParser==4.0.2
google-api-python-client==1.7.11
oauth2client==4.1.3
